* {
	font-family: Roboto;
}

.copy {
	background: none;
	border: none;
	text-align: left;
	padding: 0;
	position: relative;
	padding-right: 30px;
}

.copy:before {
	font: normal normal normal 18px/1 FontAwesome;
	content: "\f0c5";
	float: right;
	margin-left: 10px;
	position: absolute;
	right: 0;
	top: 0;
}

p, button {
	font-size: 18px;
}
